body {
    height: 100vh;
    margin: 0;
}

h1{
    margin: 0;
}

#container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#formulario {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    background-color: rgb(85, 191, 85);
    padding: 1rem;
    border: 0.09rem solid black;
    border-radius: 1rem;

}

.input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-weight:bolder;
}

button{
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: black;
    color: rgb(47, 250, 47);
}
